<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank for Dime</title>
    
</head>

<body>
    <h2>Declare your preset categories in Dime!</h2>
    <p>Select all applicable categories below. Alternatively, you can select them and create the categories thereafter in Dime.</p>
    <p>To declare categories not shown below, please submit the respective categories delimited by commas in the textbox below!</p>
    <p>e.g., Laundry, Self-care, Vacation</p>
    <p>Please note that a 'Miscellaneous' category is assumed.</p>

    <form id='categoriser' action="{{url_for('category')}}" method="post">
        <!-- Label allows users to just click on the text -->
        <label for="food">Food</label>
        <input type="checkbox" name="categories" id="food" value="Food"><br>
        <label for="trans">Transport</label>
        <input type="checkbox" name="categories" id="trans" value="Transport"><br>
        <label for="subs">Subscription</label>
        <input type="checkbox" name="categories" id="subs" value="Subscription"><br>
        <label for="health">Healthcare</label>
        <input type="checkbox" name="categories" id="health" value="Healthcare"><br>
        <label for="groc">Groceries</label>
        <input type="checkbox" name="categories" id="groc" value="groceries"><br>
        <label for="fashion">Fashion</label>
        <input type="checkbox" name="categories" id="fashion" value="Fashion"><br>
        
        

        <label for="others-checkbox">Others</label>
        <input type="checkbox" id="others-checkbox"><br>
        <textarea id="others-text" name="categories" placeholder="Laundry, Self-care, Vacation."></textarea>
        
        
        <button type="Submit">Submit</button>
    </form>

    <script>
            const form = document.getElementById('categoriser');
            const othersCheckbox = document.getElementById('others-checkbox');
            const othersTextbox = document.getElementById('others-text');

            // Toggles text area on and off according to checkbox
            // Disables text area to prevent unintended additional list item
            othersTextbox.disabled = true;
            othersTextbox.style.display = 'none';
            othersCheckbox.addEventListener('change', function() {
                if (this.checked) {
                    othersTextbox.disabled = false;
                    othersTextbox.style.display = 'block';
                } else {
                    othersTextbox.disabled = true;
                    othersTextbox.style.display = 'none';
                    
                }
            });
            
            form.addEventListener('submit', (event) => {
            // Check if the checkbox is checked and the textarea is empty
            console.log(othersTextbox.value.trim())
            if (othersCheckbox.checked && othersTextbox.value.trim() === '') {
                // Prevent the form from submitting
                event.preventDefault();
                alert('Please enter other categories. Else, uncheck "Others".');
                othersTextbox.focus();
                }
            });

    </script>

</body>

</html>